function alias_value() {
  (( $+aliases[$1] )) && echo $aliases[$1]
}

function try_alias_value() {
  alias_value "$1" || echo "$1"
}

alias c="clear"
alias x="exit"
alias r="source ~/.zshrc"
alias ls="colorls"

alias cd -="cd -"
alias md='mkdir -p'
alias rd='rmdir'

alias home="cd ~/"

alias edit-zsh="nvim ~/.zshrc"
alias vim="nvim" #set default VIM to Neovim

# List directory contents
alias ll='ls -lh'
alias ls="eza --icons=always --git-ignore --ignore-glob='node_modules'"
alias la='ls -lAh'
alias lla="ls -la"
alias lt="ls -lTa"

# Run ls after cd
function cd { builtin cd "$@" && colorls }

# Git Aliases
alias g="git"
alias gs="g status"
alias ga="g add"
alias gaa="g add -A"
alias gc="g commit -m"
alias gpo="g push origin"
alias gb="g branch"
alias gsw="g switch"
alias gt="g worktree list"
alias gco="g checkout"
alias gbl="g branch --list"

# New alias to open projects folder in VS Code
alias vsc="code ."

# TMUX Aliases
alias tl="tmux ls"
alias tad="tmux attach -d -t"
alias ta="tmux attach -d"
alias ts="tmux new-session -s"
alias tksv="tmux kill-server"
alias tkss="tmux kill-session -t"
alias tmd="tmux detach"
alias stx="tmux source ~/.tmux.conf"

# Custom Directory Aliases
alias dw="cd ~/Downloads"
alias projects="cd ~/Projects"
alias srwp="cd ~/Projects/SRWP"
alias ciss="cd ~/Projects/CISS"
alias dotfiles="cd ~/Dotfiles"
alias games="cd ~/Games"

# Open VS Code in the current directory or workspace
function smartvsc() {
    local workspace_file=$(find . -maxdepth 1 -name '*.code-workspace' | head -n 1)
    if [[ -n "$workspace_file" ]]; then
        echo "Opening workspace: $workspace_file"
        code "$workspace_file"
    else
        echo "No workspace file found. Opening current directory."
        code .
    fi
}
alias vsc=smartvsc

# Misc Aliases
alias nf="neofetch"
alias minecraft="~/Games/minecraft-server/manage_server.sh"

